{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $otherPosts := where $posts "RelPermalink" "ne" .RelPermalink }}
{{ $currentTags := .Params.tags | default (slice) }}
{{ $related := slice }}

{{ if gt (len $currentTags) 0 }}
  {{ $related = where $otherPosts "Params.tags" "intersect" $currentTags }}
{{ end }}

{{ $related = first 5 (sort $related "Date" "desc") }}
{{ if eq (len $related) 0 }}
  {{ $related = first 5 (sort $otherPosts "Date" "desc") }}
{{ end }}

{{ if gt (len $related) 0 }}
<section class="blog-widget blog-widget-related" aria-labelledby="related-posts-title">
  <div class="blog-widget-heading">
    <svg aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M15 18H3" />
      <path d="M17 6H3" />
      <path d="M21 12H3" />
      <path d="m17 16 2 2 2-2" />
      <path d="m17 8 2-2 2 2" />
    </svg>
    <h4 id="related-posts-title">相关文章</h4>
  </div>

  <div class="blog-related-list">
    {{ range $related }}
    <a class="blog-related-link" href="{{ .RelPermalink }}">
      <span class="blog-related-title">{{ .Title }}</span>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}
